*{
    font-size: 1.25rem;
}

html{
    background-color: #EEF1FF;
}

h3{
    font-size: 2rem;
    margin: 0px;
}

form{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

label{
    display: flex;
    align-items: center;
    border-radius: 8px;
    transition: all 0.4s ease-in-out;
    padding: 16px 0 16px 0;
}

#input-text {
    width: 50vw;
    height: 90vh;
}

#content-wrapper {
    display: grid;
    grid-template-columns: 1fr;
}

#quiz-container {
    margin-bottom: 32px;
}

/* Label with selected radio input change background */
label:hover {
    background-color: #AAC4FF;
}

input[type="checkbox"] {
    width: 30px;
    height: 30px;
}

.question {
    background-color: #B1B2FF;
    border-radius: 8px;
    margin: 8px;
    padding: 32px;
}